# Godot 4+ specific ignores
.godot/
/android/
addons/Todo_Manager/ColourPicker.gd
addons/Todo_Manager/ColourPicker.gd.uid
addons/Todo_Manager/Current.gd
addons/Todo_Manager/Current.gd.uid
addons/Todo_Manager/Dock.gd
addons/Todo_Manager/Dock.gd.uid
addons/Todo_Manager/Pattern.gd
addons/Todo_Manager/Pattern.gd.uid
addons/Todo_Manager/plugin.cfg
addons/Todo_Manager/plugin.gd
addons/Todo_Manager/plugin.gd.uid
addons/Todo_Manager/Project.gd
addons/Todo_Manager/Project.gd.uid
addons/Todo_Manager/todo_class.gd
addons/Todo_Manager/todo_class.gd.uid
addons/Todo_Manager/todoItem_class.gd
addons/Todo_Manager/todoItem_class.gd.uid
addons/Todo_Manager/UI/ColourPicker.tscn
addons/Todo_Manager/UI/Dock.tscn
addons/Todo_Manager/UI/Pattern.tscn
addons/Todo_Manager/doc/example.gd
addons/Todo_Manager/doc/example.gd.uid
addons/Todo_Manager/doc/images/example1.png
addons/Todo_Manager/doc/images/example1.png.import
addons/Todo_Manager/doc/images/example2.png
addons/Todo_Manager/doc/images/example2.png.import
addons/Todo_Manager/doc/images/Instruct1.png
addons/Todo_Manager/doc/images/Instruct1.png.import
addons/Todo_Manager/doc/images/Instruct2.png
addons/Todo_Manager/doc/images/Instruct2.png.import
addons/Todo_Manager/doc/images/Instruct3.png
addons/Todo_Manager/doc/images/Instruct3.png.import
addons/Todo_Manager/doc/images/Instruct4.png
addons/Todo_Manager/doc/images/Instruct4.png.import
addons/Todo_Manager/doc/images/Instruct5.png
addons/Todo_Manager/doc/images/Instruct5.png.import
addons/Todo_Manager/doc/images/TODO_Manager_Logo.png
addons/Todo_Manager/doc/images/TODO_Manager_Logo.png.import
addons/Todo_Manager/doc/images/TodoExternal.gif
